.signup-section {
  height: 100vh;
}

.signup-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.logo {
  height: 65px;
  margin-bottom: 0.5rem;
}
.form {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
  font-family: "Be Vietnam Pro", sans-serif;
  max-width: 500px;
  width: 100%;
}

.signup {
  color: #0fa958;
  display: block;
  font-weight: bold;
  font-size: 2.25rem;
}
.signup-para {
  color: #507763;
  margin-bottom: 1rem;
}
.input-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf7ed;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 0rem 1rem;
}
.form-input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #edf7ed;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 17px;
}

.form-input:focus {
  outline: none;
}
.link_login {
  width: 100%;
}
.login-button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: #0fa958;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 17px;
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: #0b8544;
  cursor: pointer;
}
.signup-button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: #0fa958;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 17px;
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  border: 1px solid #0fa958;
  margin-bottom: 0.5rem;
}
.signup-button:hover {
  background-color: #0b8544;
  cursor: pointer;
  color: white;
  border: 1px solid #0b8544;
}
.icon {
  opacity: 50%;
  color: black;
}
