@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");
/* -------------------------------------------UNIVERSAL---------------------------------------------------- */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.general_padding_horizontal_navbar {
  padding: 1vw 10vw;
}
.general_padding_horizontal_hero {
  padding: 1vw 6vw;
}
.font {
  font-family: "Be Vietnam Pro", sans-serif;
}
.font_heading {
  font-family: "Oswald", sans-serif;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
}

body {
  background-color: rgb(255, 255, 255);
}
.navbar-right .links .active {
  text-decoration: underline;
  text-decoration-color: #00ff84;
  color: #00ff84;
}
section {
  padding: 100px 0;
  /* height: 100vh; */
  width: 100vw;
  color: white;
  position: relative;
  overflow: hidden;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 500px;
  height: 5px;
  background: #0159ed;
  background: linear-gradient(
    to right,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transform: translateX(-50%);
}
