body {
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.tycEw6g_sNhp2MalBSP75AHaE8&pid=Api&P=0&h=180);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-style: 50px;
    font-size: 50px;
    color: greenyellow;
}

img {

    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: left;
    color: rgb(47, 0, 255);
    font-size: 25px;
    font-style: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    size: 60px;
}

input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}