.login-section {
    height: 100vh;
}

.login-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.logo{
    height: 65px;
    margin-bottom: 0.5rem;
}
.form {
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
    font-family: "Be Vietnam Pro", sans-serif;
    max-width: 500px;
    width: 100%;
}

.signin {
    color: #0FA958;
    display: block;
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 0.2rem;
}
.signin-para{
    color: #507763;
    margin-bottom: 2rem;
}
.input-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDF7ED;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0rem 1rem;
}
.form-input {
    width: 100%;
    padding: 1rem;    
    outline: none;
    border: none;
    background-color: #EDF7ED;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 17px;
}

.form-input:focus {
    outline: none;
}

.login-button {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: #0FA958;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 17px;
    font-weight: bold;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

.login-button:hover {
    background-color: #0b8544;
    cursor: pointer;
}
.signup-button{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    color: #0FA958;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 17px;
    font-weight: bold;
    font-family: "Be Vietnam Pro", sans-serif;
    border: 1px solid #0FA958;
}
.signup-button:hover {
    background-color: #0b8544;
    cursor: pointer;
    color: white;
    border: 1px solid #0b8544;
}
.icon{
    opacity: 50%;
    color: black;
}