.login-section {
  height: 100vh;
}

.login-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo {
  height: 65px;
  margin-bottom: 0.5rem;
}

.form {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
  font-family: "Be Vietnam Pro", sans-serif;
  max-width: 500px;
  width: 100%;
}

.signin {
  color: #0fa958;
  display: block;
  font-weight: bold;
  font-size: 2.25rem;
}

.signin-para {
  color: #507763;
  margin-bottom: 1rem;
}

.input-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf7ed;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 0rem 1rem;
}

.form-input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #edf7ed;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 17px;
}

.form-input:focus {
  outline: none;
}

.login-button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: #0fa958;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 17px;
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: #0b8544;
  cursor: pointer;
}

.link_signup {
  width: 100%;
}

.signup-button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: #0fa958;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 17px;
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  border: 1px solid #0fa958;
  margin-bottom: 0.5rem;
}

.signup-button:hover {
  background-color: #0b8544;
  cursor: pointer;
  color: white;
  border: 1px solid #0b8544;
}

.icon {
  opacity: 50%;
  color: black;
}

/* ----------------------------------------------------------------- */
@media (max-width: 1024px) {}

@media (max-width: 767px) {
  .form .logo {
    height: 55px;
    margin-bottom: 0.3rem;
  }

  .form .form-input {
    font-size: 16px;
  }

  .form .login-button {
    font-size: 16px;
  }

  .form .signup-button {
    font-size: 16px;
  }

  .form .signin {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .login-section .form {
    padding: 1rem 1.5rem;
  }

  .form .form-input {
    padding: 0.9rem;
  }

  .form .login-button {
    padding: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .form .signup-button {
    padding: 0.9rem;
  }

  .form .input-div {
    margin-bottom: 0.8rem;
  }
}